// SPDX-License-Identifier: GPL-2.0-only
// Definitions for IMX258 camera module on VC I2C bus
/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>

/{
	compatible = "brcm,bcm2835";

	

	clk_frag_0: fragment@30 {
		target = <&cam0_clk>;
		cam_clk_0: __overlay__ {
			clock-frequency = <24000000>;
			status = "okay";
		};
	};

	clk_frag_1: fragment@31 {
		target = <&cam1_clk>;
		cam_clk_1: __overlay__ {
			clock-frequency = <24000000>;
			status = "okay";
		};
	};	

	fragment@1 {
		target = <&i2c5>;
		__overlay__ {
			status = "okay";
			brcm,pins = <10 11>;
		};
	};	

	fragment@3 {
		target = <&i2c0if>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@4 { 
		target = <&i2c0mux>;
		__overlay__ {
			status = "okay";
		};
	};

	reg_frag_0: fragment@6 {
		target = <&cam0_reg>;
		cam_reg_0: __overlay__ {
			regulator-name = "imx258_vana";
			startup-delay-us = <300000>;
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
		};
	};

	reg_frag_1: fragment@7 {
		target = <&cam1_reg>;
		cam_reg_1: __overlay__ {
			regulator-name = "imx258_vana";
			startup-delay-us = <300000>;
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
		};
	};

	
	

	cam_left: fragment@100 {
		target = <&i2c_csi_dsi>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			imx258_cam_0: imx258@10 {
				compatible = "sony,imx258";
				reg = <0x1A>;
				status = "okay";

				clocks = <&cam0_clk>;
				clock-names = "xclk";

				vana-supply = <&cam0_reg>;	/* 2.8v */
				vdig-supply = <&cam_dummy_reg>;	/* 1.05v */
				vif-supply = <&cam_dummy_reg>;	/* 1.8v */

				rotation = <0>;
				orientation = <2>;

				lens-focus = <&vcm_cam_0>;

				port {
					imx258_0: endpoint {
						remote-endpoint = <&csi_ep_0>;
						clock-lanes = <0>;
						clock-noncontinuous;
						link-frequencies =
							/bits/ 64 <633600000
								320000000>;
					};
				};
			};

			vcm_cam_0: ad5398@c {
				compatible = "adi,ad5398";
				reg = <0x0c>;
				status = "okay";
				VANA-supply = <&cam0_reg>;
			};
		};
	};


	cam_right: fragment@110 {
		target = <&i2c5>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			imx258_cam_1: imx258@5 {
				compatible = "sony,imx258";
				reg = <0x1A>;
				status = "okay";

				clocks = <&cam1_clk>;
				clock-names = "xclk";

				vana-supply = <&cam1_reg>;	/* 2.8v */
				vdig-supply = <&cam_dummy_reg>;	/* 1.05v */
				vif-supply = <&cam_dummy_reg>;	/* 1.8v */

				rotation = <0>;
				orientation = <2>;

				lens-focus = <&vcm_cam_1>;
				port {
					imx258_1: endpoint {
						remote-endpoint = <&csi_ep_1>;
						clock-lanes = <0>;
						clock-noncontinuous;
						link-frequencies =
							/bits/ 64 <633600000
								320000000>;
					};
				};
			};

			vcm_cam_1: ad5398@c {
				compatible = "adi,ad5398";
				reg = <0x0c>;
				status = "okay";
				VANA-supply = <&cam1_reg>;
			};
		};
	};

	
	csi_0_frag: fragment@101 {
		target = <&csi0>;
		csi_0: __overlay__ {
			status = "okay";
			brcm,media-controller;

			port {
				csi_ep_0: endpoint {
					remote-endpoint = <&imx258_0>;
					clock-lanes = <0>;
					clock-noncontinuous;
				};
			};
		};
	};


	csi_1_frag: fragment@111 {
		target = <&csi1>;
		csi_1: __overlay__ {
			status = "okay";
			brcm,media-controller;

			port {
				csi_ep_1: endpoint {
					remote-endpoint = <&imx258_1>;
					clock-lanes = <0>;
					clock-noncontinuous;
				};
			};
		};
	};


	fragment@102 {
		target = <&imx258_0>;
		__overlay__ {
			data-lanes = <1 2>;
			link-frequencies = /bits/ 64 <633600000
						      320000000>;
		};
	};
	
	fragment@112 {
		target = <&imx258_1>;
		__overlay__ {
			data-lanes = <1 2 3 4>;
			link-frequencies = /bits/ 64 <633600000
						      320000000>;
		};
	};

	fragment@113 {
		target = <&imx258_1>;
		__dormant__ {
			data-lanes = <1 2 3 4>;
			link-frequencies =
				/bits/ 64 <633600000 320000000>;
		};
	};

	fragment@104 {
		target = <&csi_ep_0>;
		__overlay__ {
			data-lanes = <1 2>;
		};
	};

	fragment@114 {
		target = <&csi_ep_1>;
		__overlay__ {
			data-lanes = <1 2 3 4>;
		};
	};

	fragment@115 {
		target = <&csi_ep_1>;
		__dormant__ {
			data-lanes = <1 2 3 4>;
		};
	};



	__overrides__ {
		rotation = <&imx258_cam_1>,"rotation:0",<&imx258_cam_0>,"rotation:0";
		orientation = <&imx258_cam_1>,"orientation:0",<&imx258_cam_0>,"orientation:0";
	};
};
